<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ㅎㅇㅎㅇ</title>
        <script src="https://unpkg.com/vue@next"></script>
        <style>
            .app { font-size: 2em; }
        </style>
    </head>
    <body>
        <div class="app">{{ msg }}</div>

        <script>
            const App = {
                data() {
                    return {
                        msg: 'vue3 CDN 으로 사용하기~'
                    }
                }
            }

            Vue.createApp(App).mount('.app')
        </script>
    </body>
</html>
